/**
 * @file
 * Copyright © www.it.skyblow.com SkyBlow Company VATIN: PL5170154130.
 *
 * WWW.oFeatures.COM All rights reserved.
 */

/*Plugin configuration*/

body.page-admin-ofeatures-customer-service-config {
  height: auto;
}

.page-admin-ofeatures-customer-service-config #page {
  margin-left: 0px;
  margin-right: 0px;
}

.page-admin-ofeatures-customer-service-config #branding {
  display: none;
}

.page-admin-ofeatures-customer-service-config #toolbar {
  box-shadow: none;
}

.page-admin-ofeatures-customer-service-config #status {
  box-shadow: none;
}

.ofeatures-logo {
  margin-left: 15px;
  opacity: 1!important;
}

.preloader-box {
  margin-left: 20px;
}

.preloader-box img {
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 64px;
}

.access-data-info img {
  margin-left: 0px;
  opacity: 1!important;
}

.form-submit {
  display: none;
}
