/**
 * @file
 * Copyright © www.it.skyblow.com SkyBlow Company VATIN: PL5170154130.
 *
 * WWW.oFeatures.COM All rights reserved.
 */

/*Plugin configuration*/
.features {
  padding-right: 20px;
}

.preloader img {
  opacity: 0.5;
}

.ofeatures-config-title {
  line-height: 1.2em;
}

.details-request {
  background-color: #fff;
  color: #ff7f01;
  padding: 10px !important;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 20px;
}

.no-account-question {
  font-size: 14px!important;
}

.no-account-question a {
  color: #ff6c01;
  font-size: 16px!important;
}

.no-account-question a: focus {
  box-shadow: none;
}

.no-account-question a: hover {
  color: #444;
}

/*Support Panel*/
#ofeatures-frame {
  border: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0px;
  top: 0px;
}

/*Configuration*/
.block-not-installed-info {
  color: #ff2929;
  margin-top: 20px;
}

.standard-button,
.block-info {
  background-color: #56ac56;
  color: #fff!important;
  border-radius: 10px;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border: medium none;
  white-space: nowrap;
  line-height: 43px;
}

.block-info {
  background-color: #fe9f1a;
  cursor: default;
}

.block-row {
  margin-bottom: 5px;
}

.standard-button: hover,
.standard-button: focus {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

.block-text {
  color: #ff7f01;
  font-weight: bold;
  font-size: 18px;
}

.details-request {
  padding-left: 0px !important;
  color: #ff7f01;
  font-size: 18px!important;
}

.standard-button.orange {
  background-color: #ff7f01;
  color: #fff;
}

.standard-button.orange: hover {
  background-color: #555;
  color: #fff;
}

.ok-status i {
  color: #56ac56;
  font-size: 15px;
}

data {
  display: none;
}

.extra-new-account {
  display: none;
}

.no-account-question {
  margin-left: 10px;
}

.ok-status {
  margin-left: 10px;
  display: none;
}

.synchronize-again-btn {
  font-size: 10px;
  font-weight: normal;
  text-decoration: underline;
  color: #777;
  cursor: pointer;
  margin-left: 10px;
}

.icons-cache {
  opacity: 0;
  font-size: 1px;
}

.new-account-btn {
  margin-left: 10px;
}
